.grey-box-left {
    background-color: rgb(245, 244, 240);
    float: left;
    padding: 15px 20px;
    margin: 0px 40px 0px 2px;
    width: 255px;
    height: 180px;
}

.grey-box-right {
    background-color: rgb(245, 244, 240);
    float: left;
    padding: 15px 20px;
    margin: 0px 0px 40px 0px;
    width: 255px;
    height: 180px;
}
