/* use original button color in some places */

$button-color-orig: #888;

html #sidebar_nav {
    ul {
        background-color: lighten($button-color-orig, 3%);
        @include background-image(linear-gradient(top left, lighten($button-color-orig, 14%), lighten($button-color-orig, 3%)));
    }
    li {
        border-top: 1px solid lighten($button-color-orig, 16%);
        border-bottom: 1px solid $button-color-orig;
        a {
            &:hover, &.current {
                background-color: $button-color-orig;
                @include background-image(linear-gradient(170deg, $button-color-orig 40%, darken($button-color-orig, 14%)));

                &:before {
                    border-right: 19px solid $button-color-orig;
                }
            }
        }
    }
}

a.follow_paper:before {
    @include button-background($button-color-orig);
}
