$primary-color: #134d7f;
$black: #2d3441;
$button-color: $primary-color;
$red: #9D4647;
$green: #479459;
$register-color: $button-color;
$header-color: #081945;
$header-color2: #20315D;

$bg1: #f4f4f4;
$bg2: #e6e6e6;
$border: #ccc;
$fg1: #666;

$flash: #fffde4;
