$tile_margin: 8%;

.tileItem {
    width: (100% - $tile-margin) / 2;
    float: left;

    &:nth-of-type(odd) {
        margin-right: $tile-margin;
        clear: both;
    }
    .tileHeadline:first-child {
        margin-top: 0;
    }
    h2 {
        font-size: 160%;
    }
}
.tileImage {
    width: 100%;
    height: auto;
}
.tileFooter a {
    @include morelink;
}
.image-left {
    float: left;
    margin: 0 1em 1em 0;
}
.image-right {
    float: right;
    margin: 0 0 1em 1em;
}
.image-inline {
    display: inline-block;
}

.static_wrapper {
    ul#portal-globalnav {
        list-style: none;
        margin: 0;
        border-bottom: 1px solid $primary-color;

        > li {
            display: inline-block;
            margin-right: 0.2em;

            a {
                @include button-base;
                line-height: 2.5;
                min-width: 3em;
                padding: 0 1em;
                color: $primary-color;
                font-weight: bold;
            }
        }
        > li.selected a,
        > li a:hover,
        > li a:focus {
            background-color: $primary-color;
            color: white;
        }
    }

    #content-core {
        margin-bottom: 1em;
    }

    dl {
        margin-left: 0;
    }

    .documentByLine {
        color: $fg1;
    }

    .hiddenStructure {
        display: none;
    }

    #sidebar {
        background: none;
        padding: 0;

        img {
            max-width: 100%;
        }
        .portlet {
            border-bottom: 1px solid $primary-color;

            ul, ol {
                list-style: none;
                margin: 0;

                > li {
                    line-height: 2;
                }
                ul, ol {
                    margin-left: 1em;
                }
            }
            a.tile {
                // reset
                color: $primary-color;
                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }

        .portletHeader {
            font-size: 120%;
            font-weight: bold;
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
            margin-bottom: 0.5em;

            &.titleless {
                border: none;
                margin: 0;
            }
        }

       .portletItem {
            margin: 1em 0.5em 0;
            padding-bottom: 1em;
            border-bottom: 1px dotted $border;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

#document-toc {
    float: right;
    width: 30%;
}
