$youconf-darkblue: #112233;
$youconf-magenta:  #ec008c;
$youconf-yellow: #ffcb05;


.site-youconf {
    #main .page_wrapper {
        h1, h2, h3, h4, h5, h6 {
            color: $youconf-magenta;
        }

        a {
            color: $youconf-magenta;
            text-decoration: underline;

            &:hover, &:focus, &:active {
                color: $youconf-yellow;
                text-decoration: none;
            }
        }

        p, div {
            color: $youconf-darkblue;
        }
        
	#sidebar .portletHeader, #sidebar .portlet, ul#portal-globalnav {
            border-color: $youconf-darkblue;
        }

        .static_wrapper ul#portal-globalnav > li a, #sidebar a {
            color: $youconf-darkblue;
            text-decoration: none;

            &:hover, &:focus, &:active {
                color: white;
                background-color: $youconf-magenta;
            }
        }

        .cover-banner-tile img {
            width: 100%;
            height: auto;
        }

        .cover-richtext-tile {
            margin-bottom: 2em;

            .tileHeadline {
                font-size: 160%;
                margin-top: 0.5em;
            }
            .tileBody {
                margin-bottom: 0;
            }
        }
    }

    &.section-blog #main .page_wrapper {
        .tileItem {
            // reset
            width: auto;
            float: none;
            margin: 0;

            .tileHeadline {
                margin-top: 0.8em;
            }

            border-bottom: 1px solid $youconf-darkblue;
            @include clearfix;

            &:last-child {
                border-bottom: none;
            }
            .tileHeadline {
                text-transform: uppercase;
            }
            .tileBody {
                margin: 1.5em 0;
            }
            .tileImage {
                float: right;
                margin: 0 0 0.5em 0.5em;
            }
            .tileFooter {
                display: none;
            }
        }
    }
}
