.site-youthpart {
    // overwrite primary-color by youthpart-color (hackish)
    $youthpart-color: #eb651d;

    h1, h2, h3, h4, h5, h6,
    a {
        color: $youthpart-color;
    }
    &.static_wrapper {
        ul#portal-globalnav {
            border-color: $youthpart-color;

            > li a {
                color: $youthpart-color;
            }
            > li.selected a,
            > li a:hover,
            > li a:focus {
                background-color: $youthpart-color;
                color: white;
            }
        }
        .tileItem {
            border-bottom: 1px solid $youthpart-color;
        }
        #sidebar {
            .portlet {
                border-bottom: 1px solid $youthpart-color;

                a.tile {
                    color: $youthpart-color;
                }
             }
            .portletHeader {
                color: $youthpart-color;
                border-bottom: 1px solid $youthpart-color;
            }
        }
    }
}
